<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="student_system.dao.CityDAO">



    <insert id="save" parameterType="City" useGeneratedKeys="true" keyProperty="id">
        insert into t_city values(#{id},#{name},#{createtime},#{numbers})
    </insert>

    <select id="findAll" resultType="City">
        select id,name,createtime,numbers from t_city
    </select>

    <select id="findById" resultType="City">
        select id,name,createtime,numbers from t_city where id = #{id}
    </select>

    <update id="update" parameterType="City">
        update t_city set numbers=#{numbers} where id = #{id}
    </update>

</mapper>