<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="student_system.dao.StudentDAO">



    <!--保存学生信息-->
    <insert id="save" parameterType="Student" useGeneratedKeys="true" keyProperty="id">
        insert into t_student values (#{id},#{name},#{age},#{bir},#{phone},#{qq},#{attr},#{starts},#{mark},#{cityid},#{clazzid},#{groupid})
    </insert>


    <select id="findByGroupId" parameterType="String" resultMap="studentMap">
         select s.id,s.name,s.age,s.bir,s.phone,s.qq,s.attr,s.starts,s.mark,s.cityid,s.clazzid,s.groupid,
        c.id cid,c.name cname,c.createtime ccreatetime,c.numbers cnumbers,
        cl.id clid,cl.name clname,
        g.id gid,g.name gname,g.content gcontent,
        t.id tid,t.name tname,t.createtime tcreatetime
        from t_student s
        left join t_city c
        on s.cityid = c.id
        left join t_clazz cl
        on s.clazzid = cl.id
        left join t_group g
        on s.groupid = g.id
        left join t_student_tag st
        on s.id = st.studentid
        left join t_tag t
        on st.tagid = t.id
        where g.id = #{id}
    </select>

    <resultMap id="studentMap" type="Student">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
        <result column="bir" property="bir"/>
        <result column="phone" property="phone"/>
        <result column="qq" property="qq"/>
        <result column="attr" property="attr"/>
        <result column="starts" property="starts"/>
        <result column="mark" property="mark"/>
        <result column="cityid" property="cityid"/>
        <result column="clazzid" property="clazzid"/>
        <result column="groupid" property="groupid"/>
        <!--封装城市信息-->
        <association property="city" javaType="City">
            <id column="cid" property="id"/>
            <result column="cname" property="name"/>
            <result column="ccreatetime" property="createtime"/>
            <result column="cnumbers" property="numbers"/>
        </association>
        <!--封装班级信息-->
        <association property="clazz" javaType="Clazz">
            <id column="clid" property="id"/>
            <result column="clname" property="name"/>
        </association>
        <!--封装小组信息-->
        <association property="group" javaType="Group">
            <id column="gid" property="id"/>
            <result column="gname" property="name"/>
            <result column="gcontent" property="content"/>
        </association>
        <!--封装标签信息 property:封装集合的属性名 javaType:封装的类型  ofType:集合泛型的类型-->
        <collection property="tags" javaType="list" ofType="Tag">
            <id column="tid" property="id"/>
            <result column="tname" property="name"/>
            <result column="tcreatetime" property="createtime"/>
        </collection>
    </resultMap>

    <!--findAll-->
    <select id="findAll" resultMap="studentMap">
        select  s.id,s.name,s.age,s.bir,s.phone,s.qq,s.attr,s.starts,s.mark,s.cityid,s.clazzid,s.groupid,
				c.id cid,c.name cname,c.createtime ccreatetime,c.numbers cnumbers,
				cl.id clid,cl.name clname,
				g.id gid,g.name gname,g.content gcontent,
				t.id tid,t.name tname,t.createtime tcreatetime
        from t_student s
        left join t_city c
        on s.cityid = c.id
        left join t_clazz cl
        on s.clazzid = cl.id
        left join t_group g
        on s.groupid = g.id
        left join t_student_tag st
        on s.id = st.studentid
        left join t_tag t
        on st.tagid = t.id
    </select>

    <!--findAll-->
    <select id="find" resultMap="studentMap">
        select s.id,s.name,s.age,s.bir,s.phone,s.qq,s.attr,s.starts,s.mark,s.cityid,s.clazzid,s.groupid,
        c.id cid,c.name cname,c.createtime ccreatetime,c.numbers cnumbers,
        cl.id clid,cl.name clname,
        g.id gid,g.name gname,g.content gcontent,
        t.id tid,t.name tname,t.createtime tcreatetime
        from t_student s
        left join t_city c
        on s.cityid = c.id
        left join t_clazz cl
        on s.clazzid = cl.id
        left join t_group g
        on s.groupid = g.id
        left join t_student_tag st
        on s.id = st.studentid
        left join t_tag t
        on st.tagid = t.id
        <where>
            <if test="col!=null and col!='' and val!=null and val!=''">
                ${col} like concat('%',#{val},'%')
            </if>
        </where>
    </select>

    <select id="findByLikePage" resultMap="studentMap">
        select s.id,s.name,s.age,s.bir,s.phone,s.qq,s.attr,s.starts,s.mark,s.cityid,s.clazzid,s.groupid,
        c.id cid,c.name cname,c.createtime ccreatetime,c.numbers cnumbers,
        cl.id clid,cl.name clname,
        g.id gid,g.name gname,g.content gcontent,
        t.id tid,t.name tname,t.createtime tcreatetime
        from
        (select id,name,age,bir,phone,qq,attr,starts,mark,cityid,clazzid,groupid
        from t_student LIMIT #{start},#{rows}) s
        left join t_city c
        on s.cityid = c.id
        left join t_clazz cl
        on s.clazzid = cl.id
        left join t_group g
        on s.groupid = g.id
        left join t_student_tag st
        on s.id = st.studentid
        left join t_tag t
        on st.tagid = t.id
        <where>
            <if test="col!=null and col!='' and val!=null and val!=''">
                ${col} like concat('%',#{val},'%')
            </if>
        </where>
    </select>

    <select id="totalCounts" resultType="int">
        select  count(distinct s.id)
        from t_student s
        left join t_city c
        on s.cityid = c.id
        left join t_clazz cl
        on s.clazzid = cl.id
        left join t_group g
        on s.groupid = g.id
        left join t_student_tag st
        on s.id = st.studentid
        left join t_tag t
        on st.tagid = t.id
        <where>
            <if test="col!=null and col!='' and val!=null and val!=''">
                ${col} like concat('%',#{val},'%')
            </if>
        </where>
    </select>


</mapper>